.jumbotron {
    padding: 0.5em 0.6em;
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
        .btn {
            padding: 0.5em;
        }
    }
}
.container{
    padding: 0.5em 0.6em;
    h3{
        color:white
    }
    h2{
        color:white
    }
    a{
        color:white
    }
    p{
        color:white
    }
}
.mymessage{
    color:white;
    background-color: blue;
}
.othermessage{
    color:white;
    background-color: gray;
    max-width: 300px;

}
.message-container{
    max-width: fit-content;
}
.left-oriented{
    right:0px
}
.right-oriented{
    left :  225px;
}
.rounded-element{
    border-radius: 12px;
    max-width: 300px;
    overflow: hidden;
    border:0px solid #fff;
}
.auto-expand {
    width: 100%;
    color:white;
    min-height: 25px;
    min-width: 250px;
    max-width: 400px;
    height: auto;
    border: 1px solid #fff;
    overflow-y: hidden; /* Hide vertical scrollbar */
    resize: none; /* Prevent manual resizing */
  }
  .feed-card{
    min-width: 500px;
    min-height: 750px;

  }
  .column-1 {
    max-width: 60%;
    height: 200px;
    margin-top: 2rem;
    text-align: center;
    align-items: center;
    right: -15;
    color: #D9D9D9;
    background-color: #4F1B84;
  }
  .column-2 {
    max-width: 60%;
    height: 200px;
    margin-top: 2rem;
    text-align: center;
    align-items: center;
    color: #D9D9D9;
    background-color: #4F1B84;
  }
  .column-3 {
    width: 80%;
    height: 200px;
    margin-top: 5rem;
    text-align: center;
    align-items: center;
    color: #D9D9D9;
    background-color: #4F1B84;
  }
  .column-text {
    font-size: 1.875rem;
    margin: auto;
    padding: 10px;
    color: inherit;
  }