.jumbotron {
    padding: 0.5em 0.6em;
    h1 {
        font-size: 2em;
    }
    p {
        font-size: 1.2em;
        .btn {
            padding: 0.5em;
        }
    }
}
.container{
    padding: 0.5em 0.6em;
    h3{
        color:white
    }
    h2{
        color:white
    }
    a{
        color:white
    }
    p{
        color:white
    }
}
