<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <title>{{ title }}</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" type="text/css">
      <link rel="stylesheet" href="{{ url_for('static', filename='youface.css') }}" type="text/css">
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>

    <body>
      <nav  class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
          <ul  class="navbar-nav pull-right">
          </ul>
          {% if user %}
          <a class="navbar-brand" href="/index">{{ title }}</a>
          <button id="help-me" class="navbar-toggler" type="submit" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          {% else %}
          <a class="navbar-brand" href="/">{{ title }}</a>
          <button id="help-me" class="navbar-toggler" type="submit" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          {% endif %}
          {% if user %}
          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:5000/index">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:5000/settings" target="_blank">Settings</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://127.0.0.1:5000/explore">Explore</a>
              </li>
              
            </ul>
            <ul  class="navbar-nav pull-right">
              
              <form method="post" action="/logout">
                <input id="logout" type="submit" class="form-control btn btn-secondary" name="logout" value="Logout">
              </form>
              {% elif request.path != '/signup' and request.path !='/profileScreen' %}
              <form class="card " action="/signup">
                <input class="btn btn-success" type="submit" name="type" id="Signup"value="Sign Up">
              </form>
              {% endif %}

            </ul>
          </div>
        </div>
      </nav>
      <div class="jumbotron">
        <div class="container">
          {% if user %}
          <h1><a href="/index">{{title}}</a></h1>
          {% else %}
          <h1><a href="/">{{title}}</a></h1>
          {% endif %}
          <p class="lead">{{subtitle}}</p>
        </div>

      </div>

      <div class="container" id="main">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-dismissible alert-{{ category }} fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}
      </div>
    </body>
</html>
