{% extends "base.html" %}

{% block content %}
<div class="row justify-content-md-center mb-4">
  <h3 class="card-title">{{ friend }}</h3>
</div>


<div class="row justify-content-md-center">
  <div class="col col-lg-8">
    <h2>Recent Posts</h2>
    {% for post in posts %}
    <div class="card bg-light">
      <div class="card-body">
        <h4 class="card-title">{{ post.user }}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{ post.time|convert_time }}</h6>
        <p class="card-text">{{ post.text }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<div class="card bg-light">
  <div class="card-body">
    <form method="post" action='/friend/{{ friend.username }}' >
      <h3 class="card-title">{{friend}}</h3>
      <ul>
        {% for message in all_messages%}
        <div class="alert alert-{{ types }}">{{ message }}</div>
          <div>
            <li><p>{{ types }}</p>
              <div class="form-group">
                <input type="hidden" name="name" value="{{ types }}">
                <input type="hidden" name="alert" value="{{ message }}">
                
            </div>
            </li></div>
          {% endfor %}
          
      </ul> 
          
      </form>
      <div class="col col-lg-8">
        <div class="card-body">
          <form method="post" action="/friend/{{ friend }}/message">
            <div class="form-group">
              <textarea class="form-control" name="send_message" rows="3" placeholder="What's on your mind?"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" name="message_submit">Submit</button>
          </form>
      </div>

{% endblock %}
