{% extends "base.html" %}

{% block content %}
<div class="row justify-content-md-center mb-3">
  <h3 class="card-title">{{ group.name }}</h3>
</div>


<div class="row justify-content-md-center">
  <div class="col-lg-8 ">
    <div class="card bg-light">
      <div class="card-body">
        <form method="post" action='/group/{{ group.name }}' >
          <div class="d-none" >
            <input type="hidden" name="name" value="{{ types }}">
            <input type="hidden" name="alert" value="{{ message }}">
            
        </div>
          <h3 class="card-title">Group {{group.name}}</h3>
          <ul>
            {% for message in all_messages%}
              <div class="card {{'right-oriented' if message.sender == user.username else 'left-oreiented'}} rounded-element">
                 <div class="alert alert mb-0 {{ 'mymessage' if message.sender == user.username else 'othermessage' }}"><span>
                  {{message.sender}}: {{ message.text }}</span>
                  <span style="position: absolute; right: 10px; top: 50%; ">{{ message.time|convert_time }}</span>
                  </div>
              </div> 
              {% endfor %}
              
              
          </ul> 
          </form>
          <div class="col col-lg-8">
            <div class="card-body" height="auto" >
              <form method="post" action="/group/{{ group.name }}/message">
                  <textarea  class="form-control auto-expand" name="send_group_message"  placeholder="Type here" ></textarea>
                  <!-- <div contenteditable="true" name="send_message" class="auto-expand p-2 w-100" style="min-height: 50px;"></div> -->
  
                  <button type="submit" class="btn btn-primary" name="message_submit">Submit</button>
              </form>
            </div>
          
          
          
      </div>
      
    </div>
    
    
</div>
</div> <div class="card bg-light col-lg-3" >
  <div class="card-body">
    <h3 class="card-title">Group Members</h3>
      <ul>
        {% for member in group.members %}
         {% if member == group.owner %}
          <li><a href="/friend/{{ member }}">{{ member }} (owner)</a></li>
          {% else %}
          <li><a href="/friend/{{ member }}">{{ member }}</a></li>
          {%endif %}
        {% endfor %}
      </ul>
  </div>
</div>

{% endblock %}
