{% extends "base.html" %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col offset-lg-8">
        <div class="column-2">
                <div class="column-text">Meet Other Musicians!</div>
        </div>
    </div>
</div>

<div class="col col-lg-8">
    <div class="column-2">
        <div class="right-oriented">
            <div class="column-text">Form Your Dream Band!</div>
        </div>
    </div>
</div>

    
<div class="col offset-lg-8">
    <div class="column-1">
            <div class="column-text">Discover New Music!</div>
    </div>
</div>


<div class="column-3"> 
    <div class="column-text">Don't already have an account?</div>
    <form method="post" action="/createaccount">
        <button class="btn-secondary" type="submit" name="createaccount">Create Account</button>
    </form>
</div>

{% endblock %}
