{% extends "base.html" %}
 
{% block content %}
<div class="row">
  <div class="col-sm-8 mx-auto">
    <div class="card card-body bg-light">
      <h2 class="text-center">Settings</h2>
      <hr />
      <form method="post" action="/settings">
        <fieldset>
          <legend>Update Account Information</legend>
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" placeholder="Enter your username">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Enter your email">
          </div>
          <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="tel" class="form-control" name="phone" placeholder="Enter your phone number">
          </div>
          <div class="form-group">
            <input class="btn btn-primary" type="submit" name="type" value="Update Info">
          </div>
        </fieldset>

        <hr />
        <fieldset>
          <legend>Change Password</legend>
          <div class="form-group">
            <label for="current_password">Current Password</label>
            <input type="password" class="form-control" name="current_password" placeholder="Enter current password">
          </div>
          <div class="form-group">
            <label for="new_password">New Password</label>
            <input type="password" class="form-control" name="new_password" placeholder="Enter new password">
          </div>
          <div class="form-group">
            <label for="confirm_password">Confirm New Password</label>
            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm new password">
          </div>
          <div class="form-group">
            <input class="btn btn-primary" type="submit" name="type" value="Change Password">
          </div>
        </fieldset>
        <hr />
        <fieldset>
          <legend>Update Your Profile Information</legend>
          <div class="form-group">
            <label for="profile">Profile Page</label><br>
            <a href="{{ url_for('profile.profileScreen') }}" class="btn btn-success">Edit Profile</a>
          </div>
        </fieldset>
        <hr />
        <fieldset>
          <div class="form-group">
            <input class="btn btn-danger" type="submit" name="type" value="Delete Account">
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}